<div class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1">TimeTo<b>High</b></a>
      </div>
      <div class="card-body">
        <h5 class="login-box-msg">Register Account</h5>

        <form *ngIf="formRegister" [formGroup]="formRegister" (submit)="submit()">
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="input-group-append">
                <input formControlName="name" type="text" class="form-control" placeholder="Username"
                       [ngClass]="name && name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
              <span *ngIf="name && name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''" class="text-danger">
                {{getErrorMessageName()}}
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="input-group-append">
                <input formControlName="email" type="email" class="form-control" placeholder="Email"
                       [ngClass]="email && email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <span *ngIf="email && email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''" class="text-danger">
                {{getErrorMessageEmail()}}
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="input-group-append">
                <input formControlName="password" type="password" class="form-control" placeholder="Password"
                       [ngClass]="password && password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <span *ngIf="password && password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''" class="text-danger">
                {{getErrorMessagePassword()}}
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="input-group-append">
                <input formControlName="password_confirmation" type="password" class="form-control" placeholder="Retype password"
                       [ngClass]="password_confirmation && password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched) ? 'is-invalid' : ''">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <span *ngIf="password_confirmation && password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched) ? 'is-invalid' : ''" class="text-danger">
                {{getErrorMessagePasswordConfirm()}}
              </span>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="formRegister.invalid">Register</button>
            <!-- /.col -->
          </div>
        </form>
        <p class="mt-1">Already have an account? <a style="text-align: center" routerLink="/login">Login here</a></p>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
</div>
