<div class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1">TimeTo<b>High</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Tạo tài khoản</p>

        <form *ngIf="formRegister" [formGroup]="formRegister" (ngSubmit)="submit()">
          <div class="input-group mb-3">
            <!--            <p *ngIf="email && email.invalid ">{{getErrorMessageMail()}}</p>-->
            <!--            <p *ngIf="name && name.invalid">{{getErrorMessageName()}}</p>-->
            <!--            <p *ngIf="password && password.invalid ">{{getErrorMessagePassword()}}</p>-->
            <input formControlName="name" type="text" class="form-control" placeholder="Tên"
                   [ngClass]="name && name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''">
            <div *ngIf="name && name.invalid && (name.dirty || name.touched)"
                 class="text-danger">
              <div class="input-group mb-3">
                <div *ngIf="name.errors?.required">
                  <!--                  Name is required.-->
                </div>
                <div *ngIf="name.errors?.minlength">
                  <!--                  ten phai co tren 6 ki tu.-->
                </div>
                <div *ngIf="name.errors?.maxlength">
                  <!--                  ten khong qua 32 ki tu.-->
                </div>
              </div>
            </div>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input formControlName="email" type="email" class="form-control" placeholder="Email"
                   [ngClass]="email && email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input formControlName="password" type="password" class="form-control" placeholder="Mật khẩu"
                   [ngClass]="password && password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Retype password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
            <!-- /.col -->
          </div>
        </form>
        <p class="mt-1">Already have an account? <a style="text-align: center" routerLink="/login">Login here</a></p>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
</div>
