<div class="container" style="width: 70%;margin: 0 auto">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          <h1>Transaction</h1>
        </div>
<!--        <div class="col-md-6">-->
<!--          <button type="button" class="btn bg-gradient-success float-right">-->
<!--            <i class="fas fa-plus"></i>-->
<!--          </button>-->
<!--        </div>-->
      </div>
    </div>
    <div class="card-body">
      <div class="responsive">
        <table class="table box-shadow--6dp" style="width: 100%">
          <thead>
          <tr>
            <th>No</th>
            <th>Note</th>
            <th>Money</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody *ngFor="let tran of transactions;index as i">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{tran.note}}</td>
            <td>{{tran.money}}</td>
            <td>{{tran.created_at | date: 'dd/MM/yyyy H:m:s'}}</td>
            <td>
              <button class="btn bg-gradient-blue mr-2" data-toggle="modal" data-target="#modal-sm" (click)="getTranById(tran.id)">
                <i class="far fa-edit"></i>
              </button>
              <button class="btn bg-danger" (click)="delete(tran.id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-sm">
  <div class="modal-dialog modal-default">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create new Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form *ngIf="formUpdateTran" [formGroup]="formUpdateTran" (submit)="editTran()">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <!-- select -->
<!--              <input type="hidden" formControlName="id" value="transaction_id">-->
              <div class="form-group">
                <label>Note </label>
                <input class="form-control form-control-lg" type="text" formControlName="note" placeholder="Note...">
              </div>
            </div>
            <div class="col-sm-12">
              <!-- select -->
              <div class="form-group">
                <label>Amount </label>
                <input type="number" class="form-control form-control-lg" formControlName="money" placeholder="Money">
              </div>
            </div>
            <div class="col-sm-12">
              <!-- select -->
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control form-control-lg" formControlName="date">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" id="close_category" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" onclick="$('#close_category').click();" [disabled]="formUpdateTran.invalid"
                  class="btn btn-primary">Update
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
