<img class="project_img" src="assets/images/icons/transaction.png" data-toggle="modal" data-target="#modal-lg">

<!--Modal add transaction-->
<div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form *ngIf="formAddTransaction" [formGroup]="formAddTransaction" (ngSubmit)="createTran()">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <!-- select -->
              <div class="form-group">
                <label>Select your Wallet </label>
                <select class="form-control form-control-lg" formControlName="wallet_id">
                  <option *ngFor="let wallet of wallets" value="{{wallet.id}}">{{wallet.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <!-- select -->
              <div class="form-group">
                <label>Select Categories</label>
                <select class="form-control form-control-lg" formControlName="category_id">
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (<ins>VND</ins>) </label>
                <input class="form-control form-control-lg" type="number" formControlName="money" placeholder="0"
                       min="0">
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Note..." formControlName="note"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Date</label>
                <input type="datetime-local" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" id="close_modal_transaction" class="btn btn-outline-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" onclick="$('#close_modal_transaction').click();"
                  [disabled]="formAddTransaction.invalid" class="btn btn-outline-success">Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
