<!--&lt;!&ndash; Main Sidebar Container &ndash;&gt;-->
<!--<aside class="main-sidebar sidebar-dark-primary elevation-4">-->
<!--  &lt;!&ndash; Brand Logo &ndash;&gt;-->
<!--  <a class="brand-link">-->
<!--    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"-->
<!--         style="opacity: .8">-->
<!--    <span class="brand-text font-weight-light">TimeToHigh</span>-->
<!--  </a>-->

<!--  &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--  <div class="sidebar">-->
<!--    &lt;!&ndash; Sidebar user panel (optional) &ndash;&gt;-->
<!--    <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
<!--      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">-->
<!--        <div class="user-block">-->
<!--          <img class="img-circle" src="../../../../../assets/images/anhtam.jpg" alt="User Image">-->
<!--          <span class="username"><a>{{username}}</a></span>-->
<!--          <span class="description">Number of wallet:</span>-->
<!--          <span class="description">Total Money:</span>-->
<!--        </div>-->
<!--      </ul>-->
<!--    </div>-->

<!--    &lt;!&ndash; SidebarSearch Form &ndash;&gt;-->
<!--    <div class="form-inline">-->
<!--      <div class="input-group" data-widget="sidebar-search">-->
<!--        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">-->
<!--        <div class="input-group-append">-->
<!--          <button class="btn btn-sidebar">-->
<!--            <i class="fas fa-search fa-fw"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Sidebar Menu &ndash;&gt;-->
<!--    <nav class="mt-2">-->
<!--      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">-->
<!--        &lt;!&ndash; Add icons to the links using the .nav-icon class-->
<!--             with font-awesome or any other icon font library &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--          <a routerLink="statistics" class="nav-link">-->
<!--            <i class="fas fa-chart-bar"></i>-->
<!--            <p style="margin-left: 10px">-->
<!--              Statistics-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a  class="nav-link">-->
<!--            <i class="fas fa-wallet"></i>-->
<!--            <p style="margin-left: 10px">-->
<!--              Wallet-->
<!--              <i class="fas fa-angle-left right"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>ChartJS</p>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>ChartJS</p>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>ChartJS</p>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--          <a routerLink="category/info" class="nav-link">-->
<!--            <i class="fas fa-archive"></i>-->
<!--            <p style="margin-left: 10px">-->
<!--              Category-->
<!--              &lt;!&ndash;              <i class="fas fa-angle-left right"></i>&ndash;&gt;-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->
<!--</aside>-->

<aside class="main-sidebar sidebar-light-indigo elevation-4">

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image nav-item menu-open">
            <img src="../../../../../assets/images/anhtam.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <li class="nav-item">
            <a  class="nav-link">
              <p style="font: 20px 'Font Awesome 5 Free'!important;">{{username}}
                <i style="float: right" class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="login" class="nav-link">
                  <p style="font: 20px 'Font Awesome 5 Free'!important;">Log out</p>
                </a>
              </li>
            </ul>
          </li>
        </div>
        <li class="user-panel mb-2 pb-2 d-flex nav-item">
          <a href="#" class="nav-link">
            <img src="https://static.moneylover.me/img/icon/ic_category_all.png" alt="Icon Image">
            <p class="ml-3">
              Total:
            </p>
            <p class="ml-1">
              1.000.000$
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="statistics" class="nav-link">
            <i class="fas fa-columns"></i>
            <p style="margin-left: 10px">
              Statistics
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-wallet"></i>
            <p style="margin-left: 10px">
              Wallet
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="wallet/info" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Wallet List
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngFor="let wallet of wallets;index as i">
                  <a class="nav-link">
                    <img style="width: 25px;height: 25px" src="{{wallet.icon}}">
                    <p style="margin-left: 7px">{{wallet.name}}
                      <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li style="margin-left: 35px" class="nav-item" *ngFor="let category of wallets[i].categories">
                    <a [routerLink]="['transaction/info',category.id]"  class="nav-link">
                      <i class="fas fa-angle-double-right"></i>
                      <p style="margin-left: 7px">{{category.name}}</p>
                    </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link">-->
<!--            <i class="fas fa-archive"></i>-->
<!--            <p style="margin-left: 10px">-->
<!--              Category-->
<!--              <i class="fas fa-angle-left right"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <a routerLink="category/create" class="nav-link">-->
<!--              <i class="far fa-circle nav-icon"></i>-->
<!--              <p>-->
<!--                Add New Category-->
<!--              </p>-->
<!--            </a>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
